<!-- DASHBOARD -->
<div>
    <nav class="navbar navbar-dark bg-primary justify-content-between">
        <a class="navbar-brand ps-5">Mi Biblioteca</a>
        <form class="form-inline me-5">
            <select name="estado" class="form-select mb-1" aria-label="Default select example">
                <option value="" selected>Buscar</option>
                <option value="order">Ordenar alfabéticamente</option>
                <option value="en_estante">En estante</option>
                <option value="prestado">Prestado</option>
            </select>
            <button class="btn btn-outline-light my-3 my-sm-0" type="submit">Buscar</button>
        </form>
    </nav>

    <div class="container py-4">
        <table class="table table-striped">
            <tr class="table-primary">
                <th scope="col">Título</th>
                <th scope="col">Autor</th>
                <th scope="col">Estado</th>
                <th scope="col">Fecha de préstamo</th>
                <th scope="col">Fecha de devolución</th>
            </tr>
            <% @bibliotecas.each do |biblioteca| %>
                <tr>
                    <td><%= biblioteca.titulo %></td>
                    <td><%= biblioteca.autor %></td>
                    <td><%= biblioteca.estado %></td>
                    <td><%= biblioteca.fechaprestamo %></td>
                    <td><%= biblioteca.fechadevolucion %></td>
                    <td><%= link_to 'Editar', edit_biblioteca_path(biblioteca.id) %></td>
                </tr>
            <% end %>
        </table>
    </div>
</div>

<!-- MENSAJE DE LIBRO GUARDADO -->
<p class="text-center fw-bold text-primary" id="notice"><%= notice %></p>

<!-- FORM CREAR LIBROS -->
<div class="text-center pb-5">
    <h2>Crear libro</h2>

    <%= render 'form', post: @biblioteca %>
</div>